<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TestingClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <TestingClient.Properties.Settings>
            <setting name="TestingClient_WebMeetingService_WebMeetingService"
                serializeAs="String">
                <value>http://localhost:58011/WebMeetingService.asmx</value>
            </setting>
        </TestingClient.Properties.Settings>
    </applicationSettings>
</configuration>